# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  analysis:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: axel-op/dart-package-analyzer@v3
      with:
        # Required:
        githubToken: ${{ secrets.GITHUB_TOKEN }}
    - name: Check scores
      env:
        # NB: "analysis" is the id set above. Replace it with the one you used if different.
        TOTAL: ${{ steps.analysis.outputs.total }}
      run: |
        if (( $TOTAL < 90 ))
        then
          echo Score too low!
          exit 1
        fi 
